<h1>Registro</h1>

<p style="color: red">{{error}}</p>

<form method="post" action="/api/sessions/signUp" >

    <input type="text" name="first_name" placeholder="Tu Nombre">
    <br>
    {{!-- <input type="text " name="last_name" placeholder="Tu Apellido"> --}}
    <br>
    <input type="text" name="email" placeholder="Tu Email">
    <br>
    {{!-- <input type="text" name="age" placeholder="Tu Edad"> --}}
    <br>
    <input type="password" name="password" placeholder="Tu Contraseña">

    <button>Registrarse</button>
</form>

<hr>

<a href="/api/sessions/signup-github">
    <button>Registrarse con GitHub</button>
</a>