<h1>Pagina Home</h1>

<form method="post" action="api/users/login">

    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">

    <button>iniciar sesion</button>
</form>